<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Site de Rencontre:</h1>

	<form th:action="@{/formulaire}" method="get">
		<!-- Lpage d'acceuil va nous envoyer sur le formulaire -->
		<input type="submit" value="S'inscrire">

	</form><br>
		<!-- //<h1 th:text="|${session."></h1> -->
		
		
		
<form th:action="@{/login}" method="get">   <!--  renvoie sur la page du login/la connexion --> 
		<input type="submit" value="se connecter">
</form>


	<img src="img/couple.png">
</body>
</html>
