<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Site de Rencontre:</h1>

	<form th:action="@{/formulaire}" method="get">
		<!-- Lpage d'acceuil va nous envoyer sur le formulaire -->
		<input type="submit" value="S'inscrire">

	</form><br>
		<!-- //<h1 th:text="|${session."></h1> -->
		
		
		
<form th:action="@{/login}" method="get">   <!--  renvoie sur la page du login/la connexion --> 
		<input type="submit" value="Se connecter">
</form><br>


<form th:action="@{/logout}" method="get">   <!--  renvoie sur la page du login/la connexion --> 
		<input type="submit" value="Se deconnecter">
</form><br>
<form th:action="@{/utilisateurs}" method="get">   <!--  renvoie sur la page du login/la connexion --> 
		<input type="submit" value="Afficher les utilisateurs">
</form>

<form th:action=@{/proche} method='get'>
<input type ="submit" value="par departement">
</form>





	<img src="img/couple.png">
</body>
</html>
